{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "quoteProps": "consistent",
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-packagejson"]
}
