@use 'sass:map';
@use './variables.scss' as *;

:root {
  --el-color-primary: #{$color-primary};
}

.el-menu {
  --el-menu-active-color: #{$text-regular};
  --el-menu-item-height: 46px;
  --el-menu-sub-item-height: 46px;
  --el-menu-text-color: #{$text-secondary};

  background-color: transparent;

  .el-menu-item,
  .el-sub-menu__title {
    margin-top: $spacing-4;
    border-radius: $radius-full;

    &:hover {
      color: $text-hover;
      background-color: $bg-hover;
    }
  }

  .el-menu-item.is-active {
    background-color: $bg-selected;
  }
}

.el-card {
  --el-card-bg-color: #{$color-bg-surface};

  border: none;
}

.el-table {
  --el-table-bg-color: #{$color-bg-surface};
  --el-table-border-color: #{$bg-selected};
  --el-table-header-bg-color: #{$color-bg-surface};
  --el-table-header-text-color: #{$text-primary};

  // row hover
  --el-table-row-hover-bg-color: #{$bg_hover};
  --el-table-text-color: #{$text-primary};
  --el-table-tr-bg-color: #{$color-bg-surface};
}

.el-loading-mask {
  --el-mask-color: #{$color-bg-surface};
  --el-table-text-color: #{$text-primary};

  .el-loading-spinner .circular .path {
    stroke: $text-primary;
  }
}

.el-pagination {
  --el-pagination-font-size: #{$font-size-12};

  .el-pagination__total,
  .el-pagination__jump {
    --el-text-color-regular: #{$text-primary};
  }

  .el-select__wrapper {
    --el-input-text-color: #{$text-primary};

    border-radius: 16px;
    font-size: #{$font-size-12};
    background-color: #{$color-bg-page};
    box-shadow: none;

    &.is-hovering:not(.is-focused) {
      box-shadow: 0 0 0 1px #{$bg-selected};
    }
  }

  :is(.btn-prev, .btn-next, .el-pager li) {
    --el-pagination-bg-color: none;
    --el-pagination-button-color: #{$text-secondary};
    --el-pagination-hover-color: #{$text-primary};
  }

  :is(.btn-prev:disabled, .btn-prev.is-disabled, .btn-next:disabled, .btn-next.is-disabled) {
    --el-pagination-button-disabled-bg-color: none;
    --el-pagination-button-disabled-color: #{$text-disabled};
  }

  .el-pagination__jump {
    .el-input {
      --el-input-bg-color: #{$color-bg-page};
      --el-input-border-color: none;
      --el-input-border-radius: 16px;
      --el-input-hover-border-color: #{$bg-selected};

      font-size: #{$font-size-12};
    }
  }
}

.el-button {
  --el-button-active-bg-color: #{$color-primary-400};
  --el-button-active-border-color: #{$color-primary};
  --el-button-active-color: #{$text-regular};
  --el-button-active-text-color: #{$text-regular};
  --el-button-bg-color: none;
  --el-button-border-color: #{$text-secondary};
  --el-button-hover-bg-color: #{$color-primary};
  --el-button-hover-border-color: #{$color-primary};
  --el-button-hover-link-text-color: #{$color-primary-400};
  --el-button-hover-text-color: #{$text-regular};
  --el-button-text-color: #{$text-primary};

  font-size: #{$font-size-12};
}

.el-input {
  --el-color-info: #{$text-primary};
  --el-fill-color-light: #{$color-bg-page};
  --el-input-text-color: #{$text-primary};
  --el-text-color-placeholder: #{$text-placeholder};

  .el-input__wrapper {
    --el-input-bg-color: #{$color-bg-page};
  }
}

.el-checkbox {
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
  --el-border-color: #{$text-secondary};
  --el-checkbox-bg-color: transparent;
  --el-checkbox-checked-bg-color: transparent;
  --el-checkbox-checked-icon-color: #{$color-primary};
  --el-checkbox-checked-input-border-color: #{$color-primary};
  --el-checkbox-text-color: #{$color-primary};
}
