@use 'sass:map';
@use './variables.scss' as *;

:root {
  --el-color-primary: #{$color-primary};
}

.el-menu {
  --el-menu-text-color: #{$text-secondary};
  --el-menu-active-color: #{$text-regular};
  --el-menu-sub-item-height: 46px;
  --el-menu-item-height: 46px;
  background-color: $bg-page;

  .el-menu-item,
  .el-sub-menu__title {
    border-radius: 12px;

    &:hover {
      background-color: $bg-hover;
      color: $text-hover;
    }
  }

  .el-menu-item.is-active {
    background-color: $bg-selected;
  }
}

.el-card {
  --el-card-bg-color: #{$bg-page};
  border: none;
}

.el-table {
  --el-table-bg-color: #{$bg-page};
  --el-table-header-bg-color: #{$bg-page};
  --el-table-tr-bg-color: #{$bg-page};
  --el-table-border-color: #{$bg-selected};
  --el-table-header-text-color: #{$text-primary};
  --el-table-text-color: #{$text-primary};
  // row hover
  --el-table-row-hover-bg-color: #{$bg_selected};
  --el-table-row-hover-bg-color: #{$bg_hover};
}

.el-loading-mask {
  --el-mask-color: #{$bg-page};
  --el-table-text-color: #{$text-primary};
  .el-loading-spinner .circular .path {
    stroke: $text-primary;
  }
}

.el-pagination {
  --el-pagination-font-size: #{$font-size-sm};

  .el-pagination__total,
  .el-pagination__jump {
    --el-text-color-regular: #{$text-primary};
  }

  .el-select__wrapper {
    --el-input-text-color: #{$text-primary};
    font-size: #{$font-size-sm};
    background-color: #{$bg-color};
    box-shadow: none;
    border-radius: 16px;
    &.is-hovering:not(.is-focused) {
      box-shadow: 0 0 0 1px #{$bg-selected};
    }
  }

  :is(.btn-prev, .btn-next, .el-pager li) {
    --el-pagination-bg-color: none;
    --el-pagination-hover-color: #{$text-primary};
    --el-pagination-button-color: #{$text-secondary};
  }

  :is(.btn-prev:disabled, .btn-prev.is-disabled, .btn-next:disabled, .btn-next.is-disabled) {
    --el-pagination-button-disabled-color: #{$text-disabled};
    --el-pagination-button-disabled-bg-color: none;
  }

  .el-pagination__jump {
    .el-input {
      --el-input-bg-color: #{$bg-color};
      --el-input-border-color: none;
      --el-input-hover-border-color: #{$bg-selected};
      --el-input-border-radius: 16px;
      font-size: #{$font-size-sm};
    }
  }
}

.el-button {
  font-size: #{$font-size-sm};
  --el-button-text-color: #{$text-primary};
  --el-button-hover-text-color: #{$text-regular};
  --el-button-active-text-color: #{$text-regular};

  --el-button-bg-color: none;
  --el-button-hover-bg-color: #{$color-primary};
  --el-button-active-bg-color: #{$color-primary-400};

  --el-button-border-color: #{$text-secondary};
  --el-button-hover-border-color: #{$color-primary};
  --el-button-active-border-color: #{$color-primary};

  --el-button-hover-link-text-color: #{$color-primary-400};
  --el-button-active-color: #{$text-regular};
}

.el-input {
  --el-fill-color-light: #{$bg-color};
  --el-input-text-color: #{$text-primary};
  --el-color-info: #{$text-primary};
  --el-text-color-placeholder: #{$text-placeholder};

  .el-input__wrapper {
    --el-input-bg-color: #{$bg-color};
  }
}

.el-checkbox {
  --el-checkbox-bg-color: #{$bg-color};
  --el-checkbox-checked-bg-color: var(--primary-800);
  --el-checkbox-checked-input-border-color: var(--primary-600);
  --el-checkbox-text-color: var(--primary-600);
  --el-checkbox-checked-icon-color: var(--primary-400);
  --el-border-color: #{$text-secondary};
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
}
