@use 'sass:map';
@use './element-override.scss' as *;

html,
body {
  font-weight: 400;
  color: $text-primary;
  background-color: $bg-color;
}

.bee-radio-search {
  --status-search-active-color: #{$color-primary};
  --status-search-bg-color: #{$bg-color};
  --status-search-color: #{$text-secondary};
  --status-search-slider-bg-color: #{$bg-selected};
}
