// 全局样式重置与默认配置
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: $color-text-primary;
  background-color: $color-bg-primary;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

input,
textarea {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;

  &::placeholder {
    color: $color-text-placeholder;
  }
}

// 滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: transparent;

  &:hover {
    background: rgb(255 255 255 / 10%);
  }
}
